<!DOCTYPE html>
  <head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <link rel="stylesheet" type="text/css" href="css/leaflet.css">
  <link rel="stylesheet" href="css/foundation/foundation.css" />
  <script src="js/vendor/modernizr.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/d3style.css">
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <meta name="viewport" content="width=device-width, maximum-scale=2, minimum-scale=1, initial-scale=1, user-scalable=yes" />


</head>


<body>
  {{ content }}

  <!-- Javascript references -->
  <script type="text/javascript" src="js/leaflet.js" ></script>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation2.min.js"></script>
  <script src="js/d3.v3.min.js"></script>      
  <script>
    (function ($) { 
      $(document).foundation();
    }(jQuery));  
  </script>
  <script type="text/javascript" src="js/jquery-css-transform.js"></script>
  <script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
  <script type="text/javascript" src="js/data.js"></script>
  <script type="text/javascript" src="js/routes.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/map.js"></script>
  <script type="text/javascript" src="js/delorean.js"></script>
  <script type="text/javascript" src="js/d3script.js"></script>
  <!-- /End JS references -->

</body>
</html>
